@require './theme.styl';

@require './../../../../node_modules/vuetify/src/stylus/main.styl'

// Layout Styles
.page-section {
  padding: 24px 48px;
}

// Fix Canvas Styles
.vibrant-canvas {
  position: fixed;
  top: -10000px;
  left: -10000px;
  z-index: -1;
}
